django
psycopg2
whitenoise
django-enumfield
django-timezone-field
djangorestframework
jinja2
django-recaptcha
#For checking passwords from r8music v1
werkzeug
wikipedia
musicbrainzngs
discogs_client
bs4
requests-mock
django-background-tasks
editdistance
pillow
#For V1
unidecode
flask
arrow
