{% from "macros.html" import event_datetime, artist_link, release_link, user_link, avatar_thumb %}

{% macro action_secondary_details(action, request) -%}
    <div class="secondary-details">
        {{ action.describe() }} &middot; {{ event_datetime(action.creation, request) }}
    </div>
{%- endmacro %}

{% macro explain_release_activity(activity, request) -%}
    <div class="activity-item thumb-box">
        <a href={{ activity.release.url }}>
            <img class="thumb" src={{ activity.release.art_url_250 or "http://i.imgur.com/UGgojDS.png" }} />
        </a>
        <div class="activity-details">
            {% if activity.primary_action %}
                {{ action_secondary_details(activity.primary_action, request) }}
            {% endif %}
            <div>
                {% for artist in activity.release.artists.all() %}
                    <span class="author">{{ artist_link(artist) }}</span>
                {% endfor %}
                &ndash;
                {{ release_link(activity.release) }}
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro explain_activity_group(activity_group, request, show_user=True) -%}    
    {% if show_user %}
    <div class="thumb-box">
        {{ avatar_thumb(activity_group.user) }}
        {{ user_link(activity_group.user) }}
    </div>
    {% endif %}
    
    <ol class="activity-group {{ 'same-user' if not show_user else '' }}">
    {% for activity in activity_group.activity %}
        <li>{{ explain_release_activity(activity, request)}}</li>
    {% endfor %}
    </ol>
{%- endmacro %}

{% macro activity_list(activity_groups, show_user=True) -%}
    <ol class="activity-list">
    {% for activity_group in activity_groups %}
        <li>{{ explain_activity_group(activity_group, request, show_user) }}</li>
    {% endfor %}
    </ol>
{%- endmacro %}
