{% extends "artist.html" %}

{% from "macros.html" import artist_details, tag_list %}
{% from "release_list.html" import release_grid %}

{% set current_tab = "main" %}

{% block content_below_tabs %}
<section class="page columns content">
    <div>
        <header><h1>{{ artist.name }}</h1></header>
        {{ artist_details(artist) }}
    </div>
    <div class="column-1-3">
        {% if artist.image_url %}
            <a class="artist-image-container" href={{ artist.image_url }}>
                <img class="artist-image" src={{ artist.image_thumb_url }} />
            </a>
        {% else %}
            <header></header>
        {% endif %}
        
        {% set common_tags = artist.all_tags.order_by_frequency()
                                            .filter(frequency__gt=0)[:5] %}
        {% set top_tracks = artist.all_tracks.order_by_popularity()
                                             .filter(popularity__gt=0)[:3] %}
        {% set top_release = artist.releases.order_by_average_rating()
                                            .filter(average_rating__gt=0).first() %}
        
        <table>
            {% if common_tags %}
            <tr>
                <td>Genres</td><td>{{ tag_list(common_tags) }}</td>
            </tr>
            {% endif %}
            {% if top_tracks %}
            <tr>
                <td>Picks</td>
                <td><ol>
                    {% for track in top_tracks %}
                    <li class="comma-separated"><a href={{ url_for_release(track.release) }}>
                        {{ track.title }}</a></li>
                    {% endfor %}
                </ol></td>
            </tr>
            {% endif %}
            {% if top_release %}
            <tr>
                <td>Top release</td>
                <td><a href={{ url_for_release(top_release) }}>{{ top_release.title }}</a></td>
            </tr>
            {% endif %}
        </table>
    </div>
</section>

{% set releases = artist.releases.order_by("release_date").with_average_rating() %}
{% set albums = releases | selectattr("is_album") | list %}
{% set has_album_section = albums | length != 0 %}
{% set other_releases = releases | rejectattr("is_album") %}

<section class="content page">
    <header>
        {% if not request.user.is_anonymous %}
            <span class="right de-emph" style="clear: right">
                {% if artist.is_partially_imported() %}
                    Only partially imported.
                {% else %}
                    Out of date?
                {% endif %}
                <a href={{ url("update_artist", kwargs={"id": artist.id}) }}>Update this artist</a>
            </span>
        {% endif %}
        <h2>{{ "Albums" if has_album_section else "Releases" }}</h2>
    </header>
    {{ release_grid(
           (albums if has_album_section else other_releases), request.user, get_user_rating, 
           show_date_not_artist=True, show_average_rating=True) }}
</section>

{% if has_album_section and other_releases %}
    <section class="content page">
        <header><h3>Other releases</h3></header>
        {{ release_grid(other_releases, request.user, get_user_rating, "small",
               show_date_not_artist=True, show_average_rating=True) }}
    </section>
{% endif %}
{% endblock %}