{% from "macros.html" import page_links %}

{% extends "layout.html" %}

{% block title %}Index of artists{{ super() }}{% endblock %}

{% block content %}
<section class="page content">
    <header><h1>Index of artists</h1></header>

    <p>Is an artist missing? <a href={{ url("import_artist") }}>Add them to the database</a>.</p>
    
    <ol>
    {% for artist in object_list %}
        <li><a href={{ url_for_artist(artist) }}>{{ artist.name }}</a></li>
    {% endfor %}
    </ol>
    
    {{ page_links(page_obj, request) }}
</section>
{% endblock %}