{% extends "release.html" %}
{% from "release_list.html" import release_list, rating_widget %}

{% block title %} Editing {{ super() }} {% endblock %}

{% set current_tab = "edit" %}

{% block content_below_tabs %}
<section class="album page content">
    <section>
        <header><h1>
            Editing <a href={{ url_for_release(release) }}>{{ release.title }}</a>
        </h1></header>
        
        <form action={{ url_for_release(release, route="edit_release") }} method="post" class="color-palette clearfix">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <p class="tight">Colour scheme:</p>
            <ol>
            {% for title, color in [("Links", accent_color_1), ("Interface", accent_color_2), ("(Unused)", accent_color_3)]%}
                <li>
                    <div class="title">{{ title }}</div>
                    <div class="color-swatch" style="background-color: {{ color }};"></div>
                    <input type="text" name="colour-{{ loop.index }}" value="{{ color }}"/>
                </li>
            {% endfor %}
            </ol>
            <input type="submit" value="Save">
        </form>
    </section>
    <section>
        {% if release.art_url_500 %}
        <div class="album-side">
            <a href="{{ release.art_url_max }}"><img class="cover-art" src="{{ release.art_url_500 }}"/></a><br/>
        </div>
        {% endif %}
    </section>
</section>
{% endblock %}
