{% macro flash_area(name) -%}
    {% for message in get_flashed_messages(category_filter=[name + "-message", name + "-error"]) %}
        <span class="error">{{ message }}</span>
    {% endfor %}
{%- endmacro %}

{% macro form_field(description, name, type, form_prefill=None, prefill=None) -%}
    <dt>{{ description }}</dt>
    <dd>
        <input type={{ type }} name={{ name }}
               value="{{ prefill if prefill else form_prefill[name] if form_prefill and name in form_prefill else ''}}" />
        {{ flash_area(name) }}
    </dd>
{%- endmacro %}

{% macro login_form(csrf_token, next) -%}
    <form action={{ url("login") }} method="post" class="clearfix">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <dl>
            {{ form_field("Username", "username", "text", form_prefill)}}
            {{ form_field("Password", "password", "password")}}
            <dd><input type="submit" value="Sign in" /></dd>
            <input type="hidden" name="next" value="{{ next }}" />
        </dl>
    </form>
{%- endmacro %}

{% macro recaptcha() -%}
    <!-- "I'm not a robot" reCAPTCHA -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <dd>
        <div class="g-recaptcha" data-sitekey="6LeJzxgTAAAAAO9KpMEH9DsZKG9ax0C3DAIYSpgA"></div>
        {{ flash_area("recaptcha") }}
    </dd>
{%- endmacro %}

{% macro register_form(form_prefill, standalone=False) -%}
    <form action={{ url_for("register") }} method="post" class="clearfix">
        <dl>
            {{ form_field("Create a username", "username", "text", form_prefill)}}
            {{ form_field("Create a password", "new-password", "password")}}
            {{ form_field("Confirm the password", "verify-new-password", "password")}}
            {{ form_field("Email (optional)", "email", "text", form_prefill)}}
            {{ recaptcha() }}
            
            <dd><input type="submit" value="Register" /></dd>
            
            {% if standalone %}
                <input type="hidden" name="next" value="{{ request.referrer }}" />
            {% endif %}
        </dl>
    </form>
{%- endmacro %}

{% macro set_pw_form(user, standalone=False) -%}
    <form action={{ url_for("set_password") }} method="post" class="clearfix">
        <dl>
            {{ form_field("Current password", "password", "password")}}
            {{ form_field("New password", "new-password", "password")}}
            {{ form_field("Confirm new password", "verify-new-password", "password")}}
            
            <dd><input type="submit" value="Change" /></dd>
            
            {% if standalone %}
                <input type="hidden" name="next" value="{{ request.referrer }}" />
            {% endif %}
        </dl>
    </form>
{%- endmacro %}

{% macro settings_form(user) -%}
    <form action={{ url_for("user_settings") }} method="post" class="clearfix">
        <dl>
            {{ form_field("Email address", "email", "text", prefill=user.email if user.email else "") }}
            {{ form_field("Timezone", "timezone", "text", prefill=user.timezone) }}
            {{ form_field("Avatar URL", "avatar_url", "text", prefill=user.avatar_url) }}
            <p>Image must be within size constraints and on an approved host</p>
            <dt>Listening to a release unlists it</dt>
            <dd><input type="checkbox" name="listen_implies_unlist" {% if user.get_listen_implies_unlist() %}checked{% endif %}></dd>
            
            <dd><input type="submit" value="Save changes" /></dd>
        </dl>
    </form>
{%- endmacro %}

{% macro small_search_form(previous_search=None) -%}
    <form action="/search" method="get" class="small" id="search">
        <div class="search">
            <input type="text" name="q" placeholder="Search r8music" id="autocomplete" class="form-control input-lg"
                   {% if previous_search and previous_search.query %} value="{{ previous_search.query }}" {% endif %} />
            <input type="submit" class="material-icons" value="search" />
        </div>
    </form>
{% endmacro %}

{% macro search_form(previous_query=None, full_size=False) -%}
    <form action="/search" method="get" class="{{ '' if full_size else 'small' }}" id="search">
        <dl>
            <dd class="search">
                <input type="text" name="q" placeholder="Search r8music" id="autocomplete" class="form-control input-lg"
                       {% if previous_query %} value="{{ previous_query }}" {% endif %} />
                <input type="submit" class="material-icons" value="search" />
            </dd>
        </dl>
    </form>
{%- endmacro %}
