{% from "macros.html" import artist_link %}

{% macro rating_widget(release, selected, class) -%}
    <ol class="{{ class if class else '' }} rating unselectable">
    {% for n in range(8, 0, -1) %}
        <li {{ 'class=selected' if n == selected }} onclick='rateRelease(this, {{ release.id }}, {{ n }});'>{{ n }}</li>
    {% endfor %}
    </ol>
{%- endmacro %}

{% macro release_grid(releases, request_user=None, get_user_rating=None, class=None, show_date_not_artist=False, show_average_rating=False, that_user=None) -%}
    <ol class="releases grid {{ class if class else '' }}">
    {% for release in releases %}
        <li>
            {% if not request_user.is_anonymous %}
            <div class="bottom inset inset-rating-widget">
                {{ rating_widget(release, get_user_rating(release) if get_user_rating else None, "small") }}
            </div>
            {% endif %}
            {% if show_average_rating %}
            <div class="top inset inset-average-rating">
                {% set average_rating = release.average_rating %}
                <span id="average-rating-section" style="{{ '' if average_rating else 'display: none;' }}">
                    <span id="average-rating">{{ "%.1f" % average_rating if average_rating else '' }}</span>
                </span>
            </div>
            {% endif %}
            <a href={{ url_for_release(release) }}{% if that_user %}?compare={{ that_user.username }}{% endif %}>
                <div class="cover"><img src="{{ release.art_url_250 if release.art_url_250 else 'http://i.imgur.com/UGgojDS.png' }}" /></div>
                {% if show_date_not_artist %}
                    <span class="title">
                        {{ release.title }}<br/>
                        {% if release.release_year_str %}
                            {{ release.release_year_str }}
                        {% endif %}
                    </span>
            </a>
                {% else %}
                    <strong class="title">{{ release.title }}</strong>
            </a>
                    <span>
                    {% for artist in release.artists.all() %}
                        <span class="title author">{{ artist_link(artist) }}</span>
                    {% endfor %}
                    </span>
                {% endif %}
        </li>
    {% endfor %}
    </ol>
{%- endmacro %}
