{% extends "release.html" %}
{% from "macros.html" import artist_link, user_link, tag_list, external_links_list %}
{% from "release_list.html" import rating_widget %}

{% set current_tab = "main" %}

{% set client_json_data = {
    "releaseId": release.id,
    "releaseActions": user_actions and user_actions.action_names(),
    "userRating": user_actions and user_actions.rating(),
    "averageRating": release.average_rating(),
    "trackInfo": track_info,
    "picks": picks | list,
    "comparisonPicks": comparison_picks | list,
    "comparisonUser": comparison_user and comparison_user.username
} %}

{% block content_below_tabs %}
<section class="album page content">
    <div class="album-main">
        <header>
            {% if comparison_user %}
                <h3 style="font-style: italic; margin-bottom: 0.2em;">
                    Comparing with {{ user_link(comparison_user) }}</h3>
            {% endif %}
            <h1 class="album-title">
                <span id="average-rating" class="average-rating-section">
                    {# React #}
                </span>
                {{ release.title }}
            </h1>
            <h2 class="byline">
                {% for artist in release.artists.all() -%}
                    <span class="author">{{ artist_link(artist) }}</span>
                {%- endfor -%}
                {%- if release.release_year_str -%}
                    , <time>{{ release.release_year_str }}</time>
                {%- endif %}
            </h2>
            <div>
            {{ tag_list(release.tags.all()) }}
            </div>
        </header>
        
        <div id="track-list">{# React #}</div>
                    
        {% if not request.user.is_anonymous %}
            <div id="release-actions">{# React #}</div>
            <div id="rating-widget">{# React #}</div>
            <div id="release-container">{# React #}</div>
        {% endif %}
    </div>
    <div class="album-side clearfix">
        {% if release.art_url_max %}
            <a href="{{ release.art_url_max }}">
                <img class="cover-art" src="{{ release.art_url_500 }}"/></a><br/>
        {% endif %}
        {{ external_links_list(release.external_links, begins_with_linebreak=True) }}
    </div>
</section>
{% endblock %}
