{% extends "layout.html" %}
{% from "macros.html" import artist_link, object_link, user_link, page_tabs, subpage_header, clickable_action_list, artist_details, tag_list %}
{% from "release_list.html" import release_list, release_grid, rating_widget %}
{% from "activity_list.html" import release_activity_list %}

{% set artists = release.artists.all() %}

{% block title %}
    {{ release.title }} [{{release.release_year_str()}}] -
    {% for artist in artists %} {{ artist.name }} {{ "&" if not loop.last else "" }} {% endfor %}
    {{ super() }}
{% endblock %}

{% set accent_color_1, accent_color_2, accent_color_3 = release.palette() %}

{% macro tracklist(track_info, picks, user_to_compare, comparison_picks) -%}
    <ol class="tracks">
    {% for tracks in track_info["sides"] %}
        {% for track in tracks %}
            <li>
                <span class="track-title">
                    {{ track.title }}
                    {% if track.id in comparison_picks %}
                        <span class="track-pick comparison-selected" title="{{ user_to_compare.name }}'s pick"><i class="material-icons">stars</i></span>
                    {% endif %}
                    <a class="track-pick action clickable {{ 'selected' if track.id in picks else '' }}"
                       name="pick" href=# data-track-id={{ track.id }}
                       title="Select as a pick">
                        <i class="material-icons">stars</i>
                    </a>
                </span>
                {% if track.runtime %} <time>{{ track.runtime_str() }}</time> {% endif %}
            </li>
        {% endfor %}
    {% endfor %}
    {% if track_info["total_runtime"] and track_info["track_no"] != 1 %}
        <li class="total clearfix"><time>{{ runtime }}</time></li>
    {% endif %}
    </ol>
{%- endmacro %}

{% block content %}

{{ page_tabs([(None, release.title, None),
              ("activity", "Activity", None),
              ("recommendations", "Recommendations", None)],
             url_for_release(release), current_tab=tab) }}

{% if tab == "reviews" %}
    <section class="page content">
        {{ subpage_header("Reviews", object_link(release)) }}
        
        {% macro my_review() -%}
        <section>
            <header><h3>Write a review</h3></header>
            
            <form action=# method="post" class="review clearfix">
                <textarea name="review" class="with-expl" rows=10 cols=50></textarea>
                <span class="textarea-expl de-emph">
                    Format your review with <a href="https://daringfireball.net/projects/markdown/basics" target=_blank>Markdown</a>
                </span>
                <input type="submit" value="Post" />
            </form>
        </section>
        {%- endmacro %}
        
        {% set reviews = release.get_reviews() %}
        
        {% if reviews %}
        <div class="reviews">
            {{ my_review() }}
            
            {% for review in reviews %}
            <section></section>
            {% endfor %}
        </div>
        {% else %}
            <p>No reviews yet.</p>
            {{ my_review() }}
        {% endif %}
    </section>
    
{% elif tab == "activity" %}
    <section class="page content">
        {{ subpage_header("Activity", object_link(release)) }}
        {% set last_action, actions = release.get_activity() %}
        {{ release_activity_list(actions) }}
    </section>

{% elif tab == "recommendations" %}
    <section class="page content">
        {{ subpage_header("Recommendations", object_link(release)) }}
        {% set recommendations = release.get_recommendations() %}
        {{ release_grid(recommendations, class="small") }}
    </section>
    
{% else %}
    <section class="album page content">
        <div class="album-main">
            <header>
                {% if user_to_compare %}
                    <h3 style="font-style: italic; margin-bottom: 0.2em;">Comparing with {{ user_link(user_to_compare) }}</h3>
                {% endif %}
                <h1 class="album-title">
                    {% set average_rating = release.average_rating() %}
                    {# Comes before but floated right, so that it doesn't get selected #}
                    <span class="unselectable" id="average-rating-section" style="{{ '' if average_rating else 'display: none;' }}">
                        <span id="average-rating">{{ "%.1f" % average_rating if average_rating else '' }}</span>
                    </span>
                    {{ release.title }}
                </h1>
                <h2 class="byline">
                {% for artist in artists %}<span class="author">{{ artist_link(artist) }}</span>{% endfor %},
                    <time>{{ release.release_year_str() }}</time>
                </h2>
                <div>
                {{ tag_list(release.tags.all()) }}
                </div>
            </header>
            
            {% set track_info = release.tracks_extra() %}
            
            {% set user_actions = request.user.profile.actions_on_release(release.id) %}{# not anon #}
            {% set picks = user_actions.picked_tracks() if user_actions else [] %}

            {% set comparison_picks = [] %}
            
            {% if track_info["track_no"] > 17 %}
                {# See "expandable tracklists" in the CSS  simplify with JS #}
                <div class="tracks-expand-container">
                    <details class="tracks-expand">
                        {{ tracklist(track_info, picks, user_to_compare, comparison_picks) }}
                        <summary>
                            <i class="material-icons tiny expand-more" title="Show the full tracklist">expand_more</i>
                            <i class="material-icons tiny expand-less" title="Contract the tracklist">expand_less</i>
                        </summary>
                    </details>
                    {{ tracklist(track_info, picks, user_to_compare, comparison_picks) }}
                </div>
            {% else %}
                {{ tracklist(track_info, picks, user_to_compare, comparison_picks) }}
            {% endif %}
                        
            {% if not request.user.is_anonymous %}
                {# Which buttons appear / how they appear depends on their status #}
                {% set actions = [("save", "playlist_add", "Save",
                                   user_actions and user_actions.save != None)] %}
                {% set _ = actions.append(("listen", "headset", "Listened to",
                                           user_actions and user_actions.listen != None))
                           if not (user_actions and user_actions.rate) %}
                
                {{ clickable_action_list(actions, data=[("data-release-id", release.id)]) }}
                
                {{ rating_widget(release, user_actions.rating() if user_actions else None, None) }}
            {% endif %}
        </div>
        <div class="album-cover clearfix">
            {% if release.art_url_max %}
                <a href="{{ release.art_url_max }}"><img src="{{ release.art_url_250 }}"/></a><br/>
            {% endif %}
            {% for external_link in release.external_links.all() %}
                {% if loop.index == 1 %}<br/>{% endif %}
                <a href={{ external_link.url }} target=_blank>{{ external_link.name }}<i class="material-icons tiny">launch</i></a>
            {% endfor %}
        </div>
    </section>
{% endif %}

{% for artist in artists %}
<section class="page content">
	<header>
        <h3 id="more-from"><em>More from</em></h3>
        <h1>{{ artist.name }}</h1>
    </header>
	
	{% set other_releases = artist.releases.albums()
        .exclude(id=release.id).order_by("release_date")[:10] %}
    {{ release_list(other_releases) }}
    
    {{ artist_details(artist) }}
</section>
{% endfor %}
{% endblock %}
