{% extends "layout.html" %}
{% from "macros.html" import event_datetime, page_tabs, tag_list %}

{% block title %}{{ user.username }} {{ super() }}{% endblock %}

{% block content %}

<section class="clearfix page content">
    <header>
        <img class="avatar" src={{ user.profile.avatar_url }} />
        <h1>{{ user.username }}</h1>
        <span class="de-emph">
            joined {{ event_datetime(user.date_joined) }}
        </span>
    </header>
</section>

{% set tabs = [
      ("main", url_for_user(user),
           "Releases rated", action_counts["rated"]),
      ("listened-unrated", url_for_user(user, "user_listened_unrated"),
          "Listened to but not rated", action_counts["listened_unrated"]),
      ("activity", url_for_user(user, "user_activity"),
          "Activity", None),
      ("saved", url_for_user(user, "user_saved"),
          "Saved", action_counts["saved"]),
      ("friends", url_for_user(user, "user_friends"),
          "Friends", None)
  ] %}

{{ page_tabs(tabs, current_tab) }}

{% block content_below_tabs %}{% endblock %}

{% endblock %}
