{% extends "layout.html" %}
{% from "forms.html" import django_form_fields %}

{% block title %} Change your password {{ super() }} {% endblock %}

{% block content %}
<section class="page content">
    <header><h1>Change your password</h1></header>
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
    
    <form action={{ url("change_password") }} method="post" class="clearfix">
        <dl>
            {{ django_form_fields(form) }}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {% if request.GET.get("next") %}
                <input type="hidden" name="next" value="{{ request.GET.get("next") }}" />
            {% endif %}
            <dd><input type="submit" value="Save new password" /></dd>
        </dl>
    </form>
</section>
{% endblock %}