{% extends "layout.html" %}
{% from "forms.html" import django_form_fields %}

{% block title %} Register an account {{ super() }} {% endblock %}

{% set dont_display_login_register = True %}

{% block content %}
<section class="page content">
    <header><h1>Register an account</h1></header>
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
    
    <form action={{ url("register") }} method="post" class="clearfix">
        <dl>
            {{ django_form_fields(form) }}
            {{ csrf_input }}
            {% if request.GET.get("next") %}
                <input type="hidden" name="next" value="{{ request.GET.get("next") }}" />
            {% endif %}
            <dd><input type="submit" value="Register" /></dd>
        </dl>
    </form>
</section>
{% endblock %}