* {
    margin: 0;
    padding: 0;
    line-height: 1.25em;
}

html, body {
    height: 100%;
}

/*Basic formatting*/

html {
	font-family: Signika, sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;
    background: repeating-linear-gradient(
        -40deg,
        #e8e8e8,
        #e8e8e8 5px,
        #eaeaea 5px,
        #eaeaea 10px
    );
}

.content {
    background: #fafafa;
    box-shadow: 0 0 3em 0.5em rgba(0,0,0, 0.1);
}

header, p, ol, ul {
	margin: 1em 0;
}

.tight {
    margin: 0.3em 0;
}

p {
    color: #333;
    line-height: 1.35em;
}

.de-emph {
    color: #aaa;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ol, ul {
	padding-left: 2em;
}

ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.right {
    float: right;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.material-icons.tiny {
    font-size: 15px;
}

/*Input elements*/

textarea, input {
    box-sizing: border-box;
}

textarea, .textarea-expl,
input[type=text],
input[type=password] {
    padding: 0.3em;
    border: 2px solid rgba(0,0,0, 0.15);
    border-radius: 0.4em;
    outline: none;
}

input[type=text],
input[type=password] {
    height: 1.8em;
}

input[type=submit] {
    padding: 1px 0.3em;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 0.3em;
    color: white;
}

input[type=submit]:hover {
    border: 2px solid rgba(0,0,0,0.25);
}

input[type=submit]:active {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: none;
}

input[type=radio] {
    margin-left: 0.75em;
}

textarea, .textarea-expl {
    font-family: Signika;
    font-weight: 300;
    font-size: 0.9rem;
    background: white;
}

textarea.with-expl {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.textarea-expl {
    display: block;
    padding: 0.15em 0.5em;
    border-top: none;
    border-top: 1px dashed rgba(0,0,0, 0.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

textarea:not(.with-expl), .textarea-expl {
    margin-bottom: 1em;
}

/*Forms*/

form dl {
    width: 17.5rem;
}

form dt {
    margin-bottom: 0.3em;
    font-size: 0.9em;
}

form dd {
    margin-bottom: 0.7em;
}

form input {
    font-size: 1rem;
}

form input[type="text"],
form input[type="password"] {
    width: 17.5em;
    box-sizing: border-box;
}

form input[type="submit"] {
    float: right;
}

[contenteditable].single-line {
    overflow: hidden;
} 
[contenteditable].single-line br {
    display:none;

}
[contenteditable].single-line * {
    display:inline;
}

/*Messages*/

form .error {
    display: inline-block;
    margin-left: 0.4em;
    margin-top: 0.4em;
    color: red;
    font-size: 0.9em;
}

.message {
    line-height: 2.5em;
}

.success.message {
    background: #f2ffe3;
}

.error.message {
    background: #ffe3e3;
}

.message .material-icons {
    font-size: 1.65em;
    vertical-align: middle;
    position: relative;
    padding-right: 0.2em;
}

.success.message .material-icons {
    color: green;
    top: -0.075em;
}

.error.message .material-icons {
    color: red;
    top: -0.05em;
}

.message ~ .tabs {
    margin-top: 1em;
}

/*Custom lists*/

ol.inline {
    margin: 0.5em 0;
}

ol.inline > li {
    display: inline-block;
}

ol.nav {
    display: inline-block;
}

.nav li {
    display: inline-block;
    font-size: 1.17em;
}

.nav > li > * {
    display: inline-block;
    line-height: 1.25rem;
    margin: 0.45rem 0 0.55rem;
}

ol.main.nav {
    display: inline-flex;
    -webkit-filter: brightness(107%);
    filter: brightness(107%);
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    overflow: hidden;
}

.main.nav > li > a {
    margin-left: 0.65rem;
    margin-right: 0.65rem;
    color: white;
    opacity: 0.6;
    transition: opacity 0.1s;
}

.main.nav > li > a:hover {
    opacity: 0.95;
    text-decoration: none;
}

.nav .banner {
    font-size: 1.17em;
    font-weight: bold;
}

:not(.main).nav > li:not(:last-of-type) {
    margin-right: 0.65rem;
}

.nav #user-more {
    /*Relies on JS, enabled by JS*/
    display: none;
}

ol.rating {
	display: inline-block;
    margin: 0.2rem 0;
    overflow: hidden;
    /*Whitespace between the list items becomes hidden*/
    font-size: 0;
    
    border: 2px solid rgba(0,0,0, 0);
    border-radius: 0.7rem;
    
    color: white;
    font-weight: bold;
}

ol:not(.small).rating {
    width: 100%;
    box-sizing: border-box;
}

.rating li {
    /*Reset*/
    font-size: 1rem;
    
	display: inline-block;
    width: 12.5%;
	float: right;
    
    text-align: center;
}

.inset > .rating {
    display: inline-block;
    border: 2px solid rgba(255,255,255, 0.7);
}

.small.rating {
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.4);
    font-weight: normal;
}

.small.grid .small.rating {
    border-radius: 0.5rem;
}

.small.rating li {
    font-size: 0.8rem;
    width: 1.2em;
    padding: 0.2em 0;
}

/*The list elements are in reverse order and then reversed back with float: right*/
.small.rating li:last-child {
    padding-left: 0.15em;
}

.small.rating li:first-child {
    padding-right: 0.15em;
}

.rating li:hover ~ li {
    /*Medium-dark before hovered*/
	background-color: rgba(0, 0, 0, 0.3);
}

.rating li:hover {
    /*Hovered rating is dark*/
	background-color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
}

.rating .selected {
    /*Light when selected*/
	background-color: rgba(255, 255, 255, 0.5);
}

.rating:not(:hover) .selected ~ li {
	/*Medium light before the selection*/
	background-color: rgba(255, 255, 255, 0.25);
}

.rating li:hover ~ .selected {
    /*Dark when selected before the hovered*/
	background-color: rgba(128, 128, 128, 0.5);
}

.rating:hover .selected {
    /*Medium light when selected after the hovered*/
	background-color: rgba(192, 192, 192, 0.5);
}

.rating .selected:hover {
    /*Light when selected and hovered*/
	background-color: rgba(255, 255, 255, 0.5);
}

.releases h2 {
	display: inline-block;
}

.releases time {
    padding-right: 0.3em;
}

.releases.grid {
    display: flex;
    flex-wrap: wrap;
    /*Expand the width to allow room for the margins of the left
      and right columns*/
    margin: 0 -0.625em;
}

.releases.grid > li {
    margin-bottom: 1.5em !important;
    /*9x5 + (0.625x2)x4 = 50 (page width)*/
    width: 9em;
    margin: 0 0.625em;
    
    text-align: center;
}

.releases.grid > li > .inset {
    position: relative;
    height: 0;
    z-index: 99;
}

.releases.grid > li > .inset.top {
    top: 0.3em;
    right: 0.35em;
    top: -0.5em;
    right: 0.5em;
    text-align: right;
}

.releases.grid #average-rating {
    font-size: 0.8em;
    margin-left: 0.5em;
    background-color: rgba(96, 96, 96, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.releases.grid > li > .inset.bottom {
    top: 6.85em;
}

.small.releases.grid > li > .inset.bottom {
    top: 5.6rem;
}

.releases.grid .cover {
    width: 100%;
    height: 9em;
    border-radius: 0.2em;
    overflow: hidden;
    margin-bottom: 0.4em;
}

.releases .title {
    display: block;
    overflow-wrap: break-word;
}

.small.releases .title {
    font-size: 0.9em;
}

.small.releases.grid > li {
    /*7.5x6 + (0.5x2)x5 = 50 (page width)*/
    width: 7.5em;
    margin: 0 0.5em;
}

.small.releases.grid .cover {
    height: 7.5em;
}

.small.releases.grid .small.rating li {
    font-size: 0.65rem;
}

.releases.grid > li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.releases a img {
    /*Chrome has some rendering issues*/
    transition: /*-webkit-filter 0.1s,*/ -ff-filter 0.1s, filter 0.1s;
}

.releases a:hover img {
    -webkit-filter: brightness(107%);
    -ff-filter: brightness(110%);
    filter: brightness(110%);
}

/*Colour palettes*/

.color-palette {
    width: 22em;
}

.color-palette ol {
    margin-bottom: 0.5em;
}

.color-palette ol li {
    display: inline-block;
    width: 6em;
    margin: 0.5em;
}

.color-palette .title {
    text-align: center;
}

.color-swatch {
    display: inline-block;
    width: 5em;
    height: 5em;
    margin: 0.5em;
    border-radius: 2.5em;
}

.color-palette input[type=text] {
    display: block;
    width: 100%;
}

/*Actions and action lists*/

ol.action-list > li {
    margin-left: 1em;
}

.action-list a, a.action {
    color: #aaa;
}

.action-list i.material-icons {
    margin-top: -0.2em;
    margin-right: 0.15em;
    font-size: 1rem;
    vertical-align: middle;
}

/*Tabs*/

ol.tabs {
    text-align: right;
    padding-bottom: 0.75em;
}

ol.tabs > li {
    display: inline-block;
    margin-right: 1em;
}

.tabs > .active {
    font-weight: 400;
}

/*Author "lists"*/

.author:not(:last-of-type) {
    display: block;
}

.author:not(:last-of-type):after {
    content: ' & ';
}

/*Activity lists*/

.activity-item {
    margin: 0.75em 0.75em 0.75em 0;
}

.activity-group {
    margin-bottom: 1.5em;
    border-left: 2px solid;
}

.activity-group:not(.same-user) {
    margin-left: 0.75em;
}

.activity-group:not(.same-user) > li {
    margin-left: 1em;
}

.thumb-box > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}

.activity-thumb {
    width: 2.5em;
    height: 2.5em;
    margin-right: 0.4em;
    object-fit: cover;
}

.activity-item .author {
    display: inline;
}

.activity-secondary-details {
    font-size: 0.9em;
}

.comma-separated:not(:last-of-type):after {
    content: ', ';
}

/*Reviews*/

form.review {
    max-width: 30em;
}

form.review textarea {
    display: block;
    width: 100%;
    resize: vertical;
}

/*Tracklists*/

ol.tracks {
    color: #333;
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}

.tracks li {
    display: block;
    line-height: 1.3em;
}

.tracks li:not(.total):before {
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    width: 1.1em;
    padding-right: 0.15em;
    text-align: right;
    vertical-align: top;
    color: #aaa;
}

.track-title {
    display: inline-block;
}

.tracks time {
    float: right;
    color: #aaa;
}

.tracks li:not(.total):nth-child(2n) {
    background: rgba(0,0,0, 0.03);
    background: linear-gradient(to right,
        rgba(0,0,0, 0)    0%,
        rgba(0,0,0, 0.03) 1.1em,
        rgba(0,0,0, 0.03) 95%,
        rgba(0,0,0, 0)    100%);
}

.tracks li:only-child {
    border-bottom: 2px solid rgba(0,0,0, 0.03);
}

.tracks .total {
    margin-top: 0.1em;
    margin-bottom: -0.6em;
}

.tracks .total:nth-child(2n) {
    border-top: 2px solid rgba(0,0,0, 0.03);
}

.track-pick {
    display: none;
}

.tracks li:hover .track-pick,
.track-pick.selected,
.track-pick.comparison-selected {
    display: initial;
}

.track-pick.comparison-selected {
    color: #333;
}

.tracks li:hover .track-pick.selected {
    opacity: 0.6;
}

.track-pick i {
    vertical-align: middle;
    padding-bottom: 0.2em;
    font-size: 0.9em;
}

/*Expandable tracklists*/

.tracks-expand-container {
    /*The way this works is a little convoluted.
      There are two copies of the tracklist. The secondary tracklist is outside
      the <details>. This one shows the contracted form, and gets hidden when
      the <details> is open.
      This is necessary because there is no way to select which parts of the
      contents of a <details> are hidden. Only the <summary> is shown, and we
      don't want the tracklist to be part of the button which expands it.*/
    display: flex;
    flex-direction: column-reverse;
}

details.tracks-expand {
    display: block;
    /*Room at the bottom for the button*/
    position: relative;
    padding-bottom: 1.1em;
}

.tracks-expand > summary {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0em;
    
    cursor: pointer;
    outline: none;
}

.tracks-expand > summary::-webkit-details-marker {
    display: none;
}

.tracks-expand[open] > summary > .expand-more,
.tracks-expand:not([open]) > summary > .expand-less {
    display: none;
}

.tracks-expand > summary > * {
    /*Expand/contract bar*/
    display: block;
    text-align: center;
    line-height: 1.1em;
    background-color: rgba(0,0,0, 0.05);
    opacity: 1;
}

.tracks-expand + .tracks
  > li:nth-child(13) ~ li:not(.total) {
    /*In the secondary track list, hide all after the 13th element
      (important: is odd, therefore not shaded)*/
    display: none;
}

.tracks-expand[open] ~ .tracks {
    /*When open, hide the secondary track list*/
    display: none;
}

.tracks-expand + .tracks > li.total,
.tracks-expand > .tracks > li.total {
    border-top: 0;
    /*Make room for the expand/contract bar above, and move this down*/
    margin-top: 1.1em;
    margin-bottom: -2.4em;
}

.tracks-expand {
    margin-bottom: 0.8em;
}

/*Albums*/

.album-cover {
	margin-top: 2em;
    margin-left: 1.5em;
}

.album-cover img {
    width: 100%;
}

.album-cover .next-albums {
    padding: 0.15em 0.5em 0 0.5em;
    font-size: 0.9em;
}

.next-albums > * {
    display: inline-block;
    padding: 0.25em 0;
}

.next-albums .next {
    float: right;
}

.album-title {
    /*For the floated average rating */
    display: inline-block;
}

.album-title > #average-rating-section {
    float: right;
    padding-left: 0.23em;
}

#average-rating {
    display: inline-block;
    padding: 0.05em 0.33em 0.1em 0.3em;
    vertical-align: text-top;

    border-radius: 0.5em;
    
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

#more-from {
    margin-bottom: -0.1em;
}

/*Artists*/

.artist-image {
    float: right;
    max-width: 15em;
    margin: 1em 0em 1em 1em;
}

/*Comes with the description HTML from wikipedia. Hacky! todo fix*/
ol.references {
    display: none;
}

/*Users*/

.avatar {
    width: 8em;
    height: 8em;
    object-fit: cover;
}

.grids-list {
    text-align: center;
}

.grids-list .grid {
    justify-content: center;
}

.grids-list header {
    border-bottom: 2px solid rgba(0,0,0, 0.05);
    color: #ccc;
    margin-bottom: 1.5em;
}

.grids-list > * > div {
    display: inline-block;
}
    
.grids-list li > .inset-rating-widget {
    transition: opacity 0.08s;
}

.grids-list li:not(:hover) > .inset-rating-widget {
    opacity: 0;
}

.rating-description + .edit-sign {
    width: 0;
}

.rating-description:not(:hover) + .edit-sign {
    visibility: hidden;
}

.chart {
    float: right;
}

.chart canvas {
    width: 21em;
    height: 11em;
}

.chart form {
    text-align: center;
}

.chart label {
    margin-left: 0.75em;
}

.chart input[type=radio] {
    margin-right: 0.2em;
}

/*Search*/

.search {
    display: inline-flex;
    vertical-align: middle;
}

form.small .search {
    font-size: 0.8rem;
}

.search > input[type="text"] {
    width: 15em;
    padding: 0.1em 0.3em 0.05em 0.3em;
    font-size: inherit;
    
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search > input[type=submit] {
    height: 1.333em;
    padding: 0.06em 0.2em 0 0.2em;

    box-shadow: none;
    background: white;
    color: rgba(0,0,0,0.2);
    border: 2px solid rgba(0,0,0, 0.15);
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search > input[type=submit]:active {
    color: white;
    position: initial;
}

.search > input[type=submit].material-icons {
    font-size: 1.35em;
    width: 1.6em;
}

.search > input:focus ~ input[type=submit]:hover {
    cursor: pointer;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
    margin-top: 10px;
}

.ui-menu {
	list-style: none;
	display: block;
	outline: none;
    padding: 0;
}

.ui-menu-item a {
	display: block;
    padding: 0.25em 0.5em;
    font-size: 0.9em;
}

.ui-menu-item a:hover,
.ui-menu-item a.ui-state-focus,
.ui-menu-item a.ui-state-active {
    color: white;
    background: #0088cc;
    opacity: 0.8;
    
    text-decoration: none;
    cursor: pointer;
}

.ui-helper-hidden {
	display: none;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/**/

summary {
    display: inline-block;
}

details {
    display: inline;
    transition: background 0.5s, border 0.5s;
}

details.window[open] {
    position: fixed;
    width: 20em;
    
    background: white;
    border-radius: 0.2em;
}

/*Popups*/

.popup {
    width: 0em;
    height: 0em;
    float: right;
    position: relative;
    left: 0.5em;
    z-index: 999;
    font-size: 1rem;
}

.popup > div, .ui-autocomplete {
    width: 17.5em;
    background: white;
    border-radius: 0.2em;
    overflow: hidden;
}

.popup > div {
    display: none;
    margin-left: -19.5em;
    padding: 1em;
}

.small.popup > div {
    width: 10em;
    margin-left: -10.5em;
    padding: 0.25em;
}

/*Glows and shadows*/

.main.nav {
    box-shadow: 0 0 3em 0.5em rgba(0,0,0, 0.1);
    text-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
}

.rating, #average-rating,
input[type=submit] {
    box-shadow: 1px 1px 3px 0px rgba(0,0,0, 0.25);
}

.rating, #average-rating,
.ui-menu-item a:hover {
    text-shadow: 1px 1px 3px rgba(0,0,0, 0.4);
}

.rating, #average-rating,
input[type=submit] {
    color: white;
}

.popup > div, .ui-autocomplete {
    box-shadow: 0px 0px 3px 1px rgba(0,0,0, 0.33);
}

.artist-image,
.album-cover img,
.activity-thumb {
    /*Glowed border*/
    box-shadow: 0px 0px 3px 1px rgba(0,0,0, 0.2);
}

.releases.grid > li .cover {
    box-shadow: 0px 0px 3px 1px rgba(0,0,0, 0.15);
}

/*Layout*/

.page {
    box-sizing: border-box;
    min-width: 20em;
}

ol.nav {
    margin-bottom: 0.5em;
}

section {
    padding-top: 0.25em;
    padding-bottom: 1em;
	margin-bottom: 2.5em !important;
    border-radius: 0.1em;
}

section > section {
    margin-bottom: 1.5em !important;
    margin-bottom: 0 !important;
}

.columns {
    display: flex;
    padding: 0 0 1em !important;
}

.columns > * {
    display: inline-block;
}

/*Mobile*/
@media only screen and (max-width: 500px) {
    .nav {
        max-width: 100%;
    }
    
    .page {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
    
    .columns {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .columns > * {
        margin: 0 0.75em;
        min-width: 12em;
    }
    
    .tracks time {
        margin-right: 0.3em;
    }
    
    .album-main {
        max-width: 25em;
        margin: 0 auto;
    }
    
    .album-cover {
        max-width: 15em;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Full page*/
@media only screen and (min-width: 500px) {
    .page {
		margin: 0 auto;
		max-width: 53em;
        padding-left: 1.5em;
        padding-right: 1.5em;
	}

	ol.main.nav {
        margin-left: -1.5em;
        padding: 0 0.25em;
    }
        
    ol.nav.right {
        margin-bottom: 2em;
        margin-right: -1.5em;
    }
    
    .columns > * {
        margin: 0 1.5em;
        flex-basis: 0;
        flex-grow: 1;
    }
    
    .album {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .album-main {
    	width: 25em;
        flex-shrink: 0.4;
    }
    
    .track-title {
        max-width: 21em;
    }

    .album-cover {
        width: 21em;
        margin-right: 0.5em;
    }
    
    .next-albums > * {
        max-width: 20em;
    }
}

html {
    font-size: 10.5pt;
}

@media (min-width: 775px) {
    html {
        font-size: 11pt;
    }
}

@media (min-width: 875px) {
    html {
        font-size: 12pt;
    }
}

@media (min-width: 1000px) and (min-height: 900px) {
    html {
        font-size: 13pt;
    }
}
