* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/*Basic formatting*/

body {
	font-family: Signika, sans-serif;
	font-weight: 300;
}

header, p, ol, ul {
	margin: 1em 0;
}

.tight {
    margin: 0.3em 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

a, h1 a, h2 a {
	color: #4078c0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ol, ul {
	padding-left: 2em;
}

/*Custom lists*/

.tracks {
	max-width: 20em;
}

.tracks time {
	float: right;
}

ol.nav, ol.rating, ol.releases {
	list-style: none;
	padding: 0;
	margin: 0;
}

ol.nav {
    padding: 0.5rem 0;
    font-size: 1.17em;
}

.nav .banner {
    font-size: 1.17em;
    font-weight: bold;
    position: relative;
    top: 0.06em;
}

.nav li {
    display: inline-block;
}

.nav li:not(:last-child):after {
    content: ' /';
    font-size: 1.2em;
    position: relative;
    top: 0.15em;
}

.rating {
	display: inline-block;
    background-color: rgb(191, 55, 91);
    border-radius: 0.7rem;
    /*Whitespace between the list items becomes hidden*/
    font-size: 0;
}

.rating li {
    /*Reset*/
    font-size: 1rem;
    
	display: inline-block;
	width: 2.6em;
	padding: 0.2em 0;
    
    transition: background-color 0.04s;
	color: white;
    text-align: center;
}

/*Rounded first and last rating buttons*/
.rating li:first-child {
    border-top-left-radius:     0.7em;
    border-bottom-left-radius:  0.7em;
}                               
                                
.rating li:last-child {       
    border-top-right-radius:    0.7em;
    border-bottom-right-radius: 0.7em;
}

.rating:hover li {
	background-color: rgba(64, 0, 0, 0.3);
}

.rating li:hover {
	background-color: rgba(64, 0, 0, 0.5);
    cursor: default;
}

.rating li:hover ~ li {
    background-color: rgba(0, 0, 0, 0);
}

.releases h2 {
	display: inline-block;
}

.releases .rating {
	display: none;
	float: right;
	margin-right: 4em;
}

.releases :hover .rating {
	display: inline-block;
}

/*Albums*/

.album-main {
	display: inline-block;
}

.columns .album-main {
    max-width: 22em;
}

.album-cover {
	margin-top: 2em;
    max-width: 20em;
    float: right;
}

/*Layout*/

section {
	clear: both;
	margin-bottom: 2em;
}

.columns > * {
    display: inline-block;
    margin-bottom: 1em;
}

.columns:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*Computer*/
@media only screen and (min-width: 600px) {
	.page {
		margin: 0 auto;
		width: 47em;
	}

    .two.columns > :nth-child(2n+1) {
        float: left;
        margin-right: 4em;
    }
}