{% from "macros.html" import event_datetime, artist_link, object_link, user_link %}

{% macro explain_action(action, same_user=False) -%}
    {% if same_user %}
        {{ action.type.simple_past.capitalize() }}
    {% else %}
        {{ user_link(action.user) }}
        {{ action.type.simple_past }}
    {% endif %}
    {% for artist in action.object.artists %}
        <span class="author">{{ artist_link(artist) }}</span>
    {% endfor %}
    &ndash;
    {{ object_link(action.object) }}
{%- endmacro %}

{% macro activity_list(actions, same_user=False) -%}
    <ol class="user-actions">
    {% for action in actions %}
        <li>
            <span>{{ explain_action(action, same_user) }}</span>
            {{ event_datetime(action.creation) }}
        </li>
    {% endfor %}
    </ol>
{%- endmacro %}

{% block content %}
    {% if request.user %}
        {{ activity_list(actions) }}
    {% endif %}
{% endblock %}
