{% extends "layout.html" %}

{% block title %}Add an artist {{ super() }}{% endblock %}

{% block content %}
<header><h1>Add an artist</h1></header>

<form action={{ url_for("add_artist") }} method="post" class="clearfix">
    <dl>
        <dt>The artist will be added to a queue. It may take a few minutes until the artist is in the database.</dt><dd></dd>
        <dd><input type="text" name="artist-name" placeholder="Artist name"></dd>
        <dd><input type="submit" value="Add"></dd>
    </dl>
</form>
{% endblock %}