{% extends "layout.html" %}
{% from "release_list.html" import release_list %}

{% block title %}{{ artist.name }} {{ super() }}{% endblock %}

{% block content %}
<section>
	<header><h1>{{ artist.name }}</h1></header>
	
	<p>Kevin Shields and co. blended ethereal melodies with discordant sounds to become one of the prime influences on the late-'80s indie scene.</p>
	
    <h3>Albums</h3>
    {{ release_list(artist.releases | selectattr("reltype", "equalto", "Album")) }}
    
    <br/><h3>Other releases</h3>
    {{ release_list(artist.releases | rejectattr("reltype", "equalto", "Album")) }}
</section>
{% endblock %}