{% extends "layout.html" %}
{% from "release_list.html" import release_list, release_grid %}

{% block title %}{{ artist.name }} {{ super() }}{% endblock %}

{% block content %}
<section>
	<header><h1>{{ artist.name }}</h1></header>
	
    <p>{{ artist.get_description() | safe }}</p>

    {% set wp_urls = artist.get_wikipedia_urls() %}
    {% if wp_urls %}
        {% set wp_page, wp_edit = wp_urls %}
        <p>[<a href="{{ wp_page }}">Read more</a> or <a href="{{ wp_edit }}">edit</a> on Wikipedia]</p>
    {% endif %}
	
    {% set albums = artist.releases | selectattr("release_type", "equalto", "Album") | list %}
    {% if albums %}
        <header><h3>Albums</h3></header>
        {{ release_grid(albums, user) }}
    {% endif %}
    
    {% set others = artist.releases | rejectattr("release_type", "equalto", "Album") | list %}
    {% if others %}
        <header><h3>Other releases</h3></header>
        {{ release_grid(others, user, "small") }}
    {% endif %}
</section>
{% endblock %}