{% macro login_form() -%}
    <form action="/login" method="post">
        <dl>
            <dt>Username</dt> <dd><input type="text" name="username" /></dd>
            <dt>Password</dt> <dd><input type="password" name="password" /></dd>
            <dd><input type="submit" value="Login" /></dd>
        </dl><br/>
    </form>
{%- endmacro %}

{% macro register_form() -%}
    <form action="/register" method="post">
        <dl>
            <dt>Username</dt> <dd><input type="text" name="username" /></dd>
            <dt>Password</dt> <dd><input type="password" name="password" /></dd>
            <dt>Verify password</dt> <dd><input type="password" name="verify-password" /></dd>
            <dd><input type="submit" value="Register" /></dd>
        </dl><br/>
    </form>
{%- endmacro %}
