{% macro login_form(standalone=False) -%}
    <form action={{ url_for("login") }} method="post" class="clearfix">
        <dl>
            <dt>Username</dt> <dd><input type="text" name="username" /></dd>
            <dt>Password</dt> <dd><input type="password" name="password" /></dd>
            <dd><input type="submit" value="Sign in" /></dd>
            <a href={{ url_for("recover_password") }}>Recover password</a>
            {% if standalone %}
                <input type="hidden" name="next" value="{{ request.referrer }}" />
            {% endif %}
        </dl>
    </form>
{%- endmacro %}

{% macro register_form(standalone=False) -%}
    <form action={{ url_for("register") }} method="post" class="clearfix">
        <dl>
            <dt>Username</dt> <dd><input type="text" name="username" /></dd>
            <dt>Password</dt> <dd><input type="password" name="password" /></dd>
            <dt>Confirm password</dt> <dd><input type="password" name="verify-password" /></dd>
            <dt>Email (optional)</dt> <dd><input type="text" name="email" /></dd>
            
            <!-- "I'm not a robot" reCAPTCHA -->
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <dd><div class="g-recaptcha" data-sitekey="6LeJzxgTAAAAAO9KpMEH9DsZKG9ax0C3DAIYSpgA"></div></dd>
            
            <dd><input type="submit" value="Register" /></dd>
            
            {% if standalone %}
                <input type="hidden" name="next" value="{{ request.referrer }}" />
            {% endif %}
        </dl>
    </form>
{%- endmacro %}

{% macro set_pw_form(user, standalone=False) -%}
    <form action={{ url_for("set_password") }} method="post" class="clearfix">
        <dl>
            <dt>Current password</dt> <dd><input type="password" name="password" /></dd>
            <dt>New password</dt> <dd><input type="password" name="new-password" /></dd>
            <dt>Confirm new password</dt> <dd><input type="password" name="verify-new-password" /></dd>
            
            <dd><input type="submit" value="Change" /></dd>
            
            {% if standalone %}
                <input type="hidden" name="next" value="{{ request.referrer }}" />
            {% endif %}
        </dl>
    </form>
{%- endmacro %}

{% macro search_form(search_query=None, full=True) -%}
    <form action="/search" method="post" class="{{ '' if full else 'small' }}" id="search">
        <div class="search">
            <input type="text" name="query" placeholder="Search r8music"
                   {% if search_query %} value="{{ search_query }}" {% endif %} />
            <input type="submit" class="material-icons" value="search" />
        </div>
    </form>
{%- endmacro %}
