{% extends "layout.html" %}
{% from "macros.html" import load_more %}
{% from "activity_list.html" import activity_list %}

{% block title %}r8music{% endblock %}

{% block content %}
    {% if request.user %}
        <section class="page content">
            <header><h1>Recent activity</h1></header>
            
            {% set last_action_id, actions = request.user.get_activity_feed() %}
            {{ load_more(activity_list(actions), url_for("activity_feed"), last_action_id) }}
        </section>
    {% endif %}
{% endblock %}
