<!doctype html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>

	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="content-language" content="en" />
	<meta http-equiv="content-language" content="en-gb" />

	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Signika:400,300' />
    
    <link rel="shortcut icon" href="/static/favicon.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/static/r8music.js"></script>
    
    <style>
    {% if accent_color_1 %}
    a, h2 a {
        color: {{ accent_color_1 }};
    }
    
    input[type="text"]:focus,
    input[type="password"]:focus {
        border-color: {{ accent_color_1 }};
    }
    {% endif %}

    {% if accent_color_2 %}
    ol:not(small).rating,
    #average-rating,
    input[type="submit"] {
        background-color: {{ accent_color_2 }};
    }
    {% endif %}
    </style>
</head>
<body>
	<div class="page">
        <ol class="nav">
            <li><a href="/" class="banner">r8music</a></li>
            <li><a href="/artists">artists</a></li>
            <li><a href="/genres">genres</a></li>
            <li><a href="/toplists">toplists</a></li>
            <li><a href="/users">users</a></li>
        </ol>
        <ol class="nav right">
            <li>
                <form action="/search" method="post">
                    <input type="text" placeholder="Search r8music"/>
                </form>
            </li>
            {% if session.user %}
                <li>
                    <a href="/user/{{ session.user.name }}">{{ session.user.name }}</a>
                    <a id="user-more" href="">&#9662;</a>
                </li>
                <li><a id="logout" href="/logout">log out</a></li>
                <div class="small popup"><div class="popup-content" id="user-popup">
                    <a class="right" id="logout" href="/logout">log out</a><br/>
                </div></div>
            {% else %}
                <li><a id="login" href="/login">sign in</a></li>
                <li><a id="register" href="/register">register</a></li>
                {% from "forms.html" import login_form, register_form %}
                <div class="popup"><div class="popup-content" id="login-popup">{{ login_form() }}</div></div>
                <div class="popup"><div class="popup-content" id="register-popup">{{ register_form() }}</div></div>
            {% endif %}
        </ol>
        
		{% block content %}{% endblock %}
	</div>
</body>
</html>
