{% macro slightly_small_and_de_emph(x) -%}
    <span class="de-emph slightly-small">{{ x | safe }}</span>
{%- endmacro %}

{% macro full_and_friendly_datetime(datetime) -%}
    {% set timezone = request.user.timezone if request.user else "UTC" %}
    {% set datetime = datetime.to(timezone) %}
    <time title="{{ full_datetime(datetime) }}">{{ friendly_datetime(datetime) }}</time>
{%- endmacro %}

{% macro event_datetime(datetime) -%}
    {% set timezone = request.user.timezone if request.user else "UTC" %}
    {% set datetime = datetime.to(timezone) %}
    <time class="de-emph" title="{{ full_datetime(datetime) }}">{{ relative_datetime(datetime) }}</time>
{%- endmacro %}

{% macro artist_link(artist) -%}
    <a href={{ artist.url }}>{{ artist.name }}</a>
{%- endmacro %}

{% macro object_link(object) -%}
    <a href={{ object.url }}>{{ object.title }}</a>
{%- endmacro %}

{% macro user_link(user) -%}
    <a href={{ url_for("user_page", slug=user.name) }}>{{ user.name }}</a>
{%- endmacro %}

{% macro page_tabs(tabs, base_url, current_tab) -%}
<ol class="page tabs">
    {% for name, description in tabs %}
        {% set description, secondary_description = 
            description if isinstance(description, tuple) else (description, None) %}
        
        {% if current_tab == name %}
            <li class="active">
                {{ description }}
                {{ slightly_small_and_de_emph(if_not_None(secondary_description)) }}
            </li>
        {% else %}
            <li>
                <a href={{ base_url + ("/" + name if name else "") }}>{{ description }}</a>
                {{ slightly_small_and_de_emph(if_not_None(secondary_description)) }}
            </li>
        {% endif %}
    {% endfor %}
</ol>
{%- endmacro %}

{% macro clickable_action_list(actions, active, data) -%}
<ol class="action-list inline unselectable">
    {% for name, icon, description in actions %}
        <li><a class="clickable {{ 'selected' if name in active else '' }}"
               name={{ name }} href=#
               {% for key, value in data %} {{ key }}="{{ value }}" {% endfor %}>
            <i class="material-icons">{{ icon }}</i>{{ description }}
        </a></li>
    {% endfor %}
</ol>
{%- endmacro %}

{% macro load_more(content, endpoint, offset) -%}
<span class="load-more-area">
    <span class="load-more-target">{{ content }}</span>
    <p><a class="load-more" href=#
          data-endpoint={{ endpoint }}
          data-offset={{ offset }}>Load more</a></p>
</span>
{%- endmacro %}
