{% macro full_and_friendly_datetime(datetime) -%}
    {% set timezone = request.user.timezone if request.user else "UTC" %}
    {% set datetime = datetime.to(timezone) %}
    <time title="{{ full_datetime(datetime) }}">{{ friendly_datetime(datetime) }}</time>
{%- endmacro %}

{% macro event_datetime(datetime) -%}
    <time class="de-emph" title="{{ full_datetime(datetime) }}">{{ relative_datetime(datetime) }}</time>
{%- endmacro %}

{% macro artist_link(artist) -%}
    <a href={{ url_for("artist_page", slug=artist.slug) }}>{{ artist.name }}</a>
{%- endmacro %}

{% macro object_link(object) -%}
    <a href={{ object.url }}>{{ object.title }}</a>
{%- endmacro %}

{% macro user_link(user) -%}
    <a href={{ url_for("user_page", slug=user.name) }}>{{ user.name }}</a>
{%- endmacro %}
