{% macro release_list(releases) -%}
    <ol class="releases">
    {% for release in releases | sort(attribute="date") %}
        <li>
            <h2><time>{{ release.date[:4] }}</time> <a href="{{ release.slug }}">{{ release.title }}</a></h2>
        </li>
    {% endfor %}
    </ol>
{%- endmacro %}

{% macro release_grid(releases) -%}
    <ol class="releases grid">
    {% for release in releases | sort(attribute="date") %}
        <li>
            <ol class="inset small rating" style="{% if release.album_art_dominant_color %} background-color: {{ release.album_art_dominant_color }} {% endif %}">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
            </ol>
            <a href="{{ release.slug }}">
                <div><img src="{{ release.album_art_url }}" /></div>
                <span>{{ release.title }}<br/>{{ release.date[:4] }}</span>
            </a>
        </li>
    {% endfor %}
    </ol>
{%- endmacro %}
