{% macro release_list(releases) -%}
    <ol class="releases">
    {% for release in releases | sort(attribute="date") %}
        <li>
            <h2>{{ release.date[:4] }} <a href="{{ release.slug }}">{{ release.title }}</a></h2>
        </li>
    {% endfor %}
    </ol>
{%- endmacro %}

{% macro release_grid(releases) -%}
    <ol class="releases grid">
    {% for release in releases | sort(attribute="date") %}
        <li>
            <a href="{{ release.slug }}">
                <div><img src="{{ release.album_art_url }}" /></div>
                <span>{{ release.title }}<br/>{{ release.date[:4] }}</span>
            </a>
        </li>
    {% endfor %}
    </ol>
{%- endmacro %}
