{% macro rating_widget(selected, class, color) -%}
    <ol class="{{ class }} rating" style="{% if color %} background-color: {{ color }} {% endif %}">
    {% for n in range(1, 9) %}
        <li {{ 'class=selected' if n == selected }}>{{ n }}</li>
    {% endfor %}
    </ol>
{%- endmacro %}

{% macro release_list(releases) -%}
    <ol class="releases">
    {% for release in releases | sort(attribute="date") %}
        <li>
            <h2><time>{{ release.date[:4] }}</time> <a href="{{ release.slug }}">{{ release.title }}</a></h2>
        </li>
    {% endfor %}
    </ol>
{%- endmacro %}

{% macro release_grid(releases, user=None) -%}
    <ol class="releases grid">
    {% for release in releases | sort(attribute="date") %}
        <li>
            {{ rating_widget(user.ratings[release._id] if user and release._id in user.ratings, "inset small", None) }}
            <a href="{{ release.slug }}">
                <div><img src="{{ release.album_art_url if release.album_art_url else 'http://www.howwe.biz/no-cover.png' }}" /></div>
                <span>{{ release.title }}<br/>{{ release.date[:4] }}</span>
            </a>
        </li>
    {% endfor %}
    </ol>
{%- endmacro %}
