{% extends "layout.html" %}
{% from "macros.html" import artist_link, user_link, page_tabs, clickable_action_list %}
{% from "release_list.html" import release_list, release_grid, rating_widget %}
{% from "activity_list.html" import release_activity_list %}

{% block title %}{{ release.title }} [{{release.date[:4]}}] - {{ release.get_artists()[0].name }} {{ super() }}{% endblock %}

{% set accent_color_1, accent_color_2, accent_color_3 = release.get_palette() %}

{% macro tracklist(sides, runtime, track_no, picks, user_to_compare, comparison_picks) -%}
    <ol class="tracks">
    {% for tracks in sides %}
        {% for track in tracks %}
            <li>
                <span class="track-title">
                    {{ track.title }}
                    {% if track.id in comparison_picks %}
                        <span class="track-pick comparison-selected" title="{{ user_to_compare.name }}'s pick"><i class="material-icons">stars</i></span>
                    {% endif %}
                    <a class="track-pick action clickable {{ 'selected' if track.id in picks else '' }}"
                       name="pick" href=# data-track-id={{ track.id }}
                       title="Select as a pick">
                        <i class="material-icons">stars</i>
                    </a>
                </span>
                {% if track.runtime %} <time>{{ track.runtime }}</time> {% endif %}
            </li>
        {% endfor %}
    {% endfor %}
    {% if runtime and track_no != 1 %}
        <li class="total clearfix"><time>{{ runtime }}</time></li>
    {% endif %}
    </ol>
{%- endmacro %}

{% block content %}

{{ page_tabs([(None, release.title),
              ("activity", "Activity"),
              ("reviews", "Reviews (%d)" % release.get_review_no()),
              ("recommendations", "Recommendations")],
             release.url, current_tab=tab) }}

{% if tab == "reviews" %}
    <section class="page content">
        <header><h1>Reviews</h1></header>
        
        {% macro my_review() -%}
        <section>
            <header><h2>Write a review</h2></header>
            
            <form action=# method="post" class="review clearfix">
                <textarea name="review" class="with-expl" rows=10 cols=50></textarea>
                <span class="textarea-expl de-emph">
                    Format your review with <a href="https://daringfireball.net/projects/markdown/basics" target=_blank>Markdown</a>
                </span>
                <input type="submit" value="Post" />
            </form>
        </section>
        {%- endmacro %}
        
        {% set reviews = release.get_reviews() %}
        
        {% if reviews %}
        <div class="reviews">
            {{ my_review() }}
            
            {% for review in reviews %}
            <section></section>
            {% endfor %}
        </div>
        {% else %}
            <p>No reviews yet.</p>
            {{ my_review() }}
        {% endif %}
    </section>
    
{% elif tab == "activity" %}
    <section class="page content">
        <header><h1>Activity</h1></header>
        {% set offset, actions = release.get_activity() %}
        {{ release_activity_list(actions) }}
    </section>

{% elif tab == "recommendations" %}
    <section class="page content">
        <header><h1>Recommendations</h1></header>
        {% set recommendations = release.get_recommendations() %}
        {{ release_grid(recommendations, class="small") }}
    </section>
    
{% else %}
    <section class="album page content">
        <div class="album-main">
            <header>
                {% if user_to_compare %}
                    <h3 style="font-style: italic; margin-bottom: 0.2em;">Comparing with {{ user_link(user_to_compare) }}</h3>
                {% endif %}
                <h1 class="album-title">
                    {% set average_rating = release.get_rating_stats().average %}
                    {# Comes before but floated right, so that it doesn't get selected #}
                    <span class="unselectable" id="average-rating-section" style="{{ '' if average_rating else 'display: none;' }}">
                        <span id="average-rating">{{ "%.1f" % average_rating if average_rating else '' }}</span>
                    </span>
                    {{ release.title }}
                </h1>
                <h2 class="byline">
                {% for artist in release.get_artists() %}<span class="author">{{ artist_link(artist) }}</span>{% endfor %},
                    <time>{{ release.date[:4] }}</time>
                </h2>
            </header>
            
            {% set sides, runtime, track_no = release.get_tracks() %}
            {% set picks = user.get_picks(release.id) if user else [] %}
            {% set comparison_picks = user_to_compare.get_picks(release.id) if user_to_compare else [] %}
            
            {% if track_no > 17 %}
                {# See "expandable tracklists" in the CSS #}
                <div class="tracks-expand-container">
                    <details class="tracks-expand">
                        {{ tracklist(sides, runtime, track_no, picks) }}
                        <summary>
                            <i class="material-icons tiny expand-more" title="Show the full tracklist">expand_more</i>
                            <i class="material-icons tiny expand-less" title="Contract the tracklist">expand_less</i>
                        </summary>
                    </details>
                    {{ tracklist(sides, runtime, track_no, picks,
                                 user_to_compare, comparison_picks) }}
                </div>
            {% else %}
                {{ tracklist(sides, runtime, track_no, picks,
                             user_to_compare, comparison_picks) }}
            {% endif %}
            
            {% set ratings = user.get_ratings() if user else {} %}
            {% set active_actions = user.get_active_actions(release.id) if user else [] %}
            
            {# Which buttons appear / how they appear depends on their status #}
            {% set actions = [("list", "playlist_add", "Will listen to"
                    + (" again" if "listen" in active_actions else ""))] %}
            {% set _ = actions.append(("listen", "headset", "Listened to")) if release.id not in ratings %}
            {% set _ = actions.append(("share", "share", "Share")) if "listen" in active_actions %}
            
            {{ clickable_action_list(actions, active_actions,
                                     data=[("data-release-id", release.id)]) }}
            
            {{ rating_widget(release, ratings[release.id] if release.id in ratings, None) }}
        </div>
        <div class="album-cover clearfix">
            {% if release.thumb_art_url %}
                <a href="{{ release.full_art_url }}"><img src="{{ release.thumb_art_url }}"/></a><br/>
            {% endif %}
            <div class="next-albums">
                {% for artist, previous, next in release.get_next_releaseses() %}
                    {% if previous or next %}
                        {% if loop.index != 1 %}
                            <div>By {{ artist_link(artist) }}:</div>
                        {% endif %}
                        {% if previous %}
                            <a href={{ previous.url }} class="previous">&larr; {{ previous.title }} [{{ previous.date[:4] }}]</a>
                        {% endif %}
                        {% if next %}
                            <a href={{ next.url }} class="next">{{ next.title }} [{{ next.date[:4] }}]&nbsp;&rarr;</a>
                        {% endif %}
                        <br/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    
    <section class="page content columns">
        <section>
            <header><h2>External links</h2></header>
            <p></p>
            {% for site, link in release.get_external_links() %}
                <a href={{ link }} target=_blank>{{ site }} <i class="material-icons tiny">launch</i></a><br/>
            {% endfor %}
        </section>
        <section>
            <header><h2>Contribute</h2></header>
            Report a mistake<br/>
            {% if user and user.type.name == "admin" %}
                <a href={{ release.url + "/edit" }}>Edit the release palette</a><br/>
            {% endif %}
            Add an external link<br/>
            Add cover art<br/>
        </section>
    </section>
{% endif %}

{% for artist in release.get_artists() %}
<section class="page content">
	<header>
        <h3 id="more-from"><em>More from</em></h3>
        <h1>{{ artist.name }}</h1>
    </header>
	
	{{ release_list(artist.get_releases() | selectattr("release_type", "equalto", "Album") | rejectattr("id", "equalto", release.id) | sort(attribute="date")) }} 
    
    {% set description = artist.get_description() %}
	<p>{{ description | safe if description else "" }}</p>
</section>
{% endfor %}
{% endblock %}
