{% extends "layout.html" %}
{% from "release_list.html" import release_list, rating_widget %}

{% block title %}{{ release.title }} [{{release.date[:4]}}] - {{ release.artists[0].name }} {{ super() }}{% endblock %}

{% set accent_color_1 = release.colors[0] %}
{% set accent_color_2 = release.colors[1] %}
{% set accent_color_3 = release.colors[2] %}

{% block content %}
<section class="{% if release.thumb_art_url %} two columns {% endif %}">
	<div class="album-main">
		<header>
            <h1>
                {{ release.title }}
                <span id="average-rating-section" style="{{ '' if release.get_rating_stats().mean else 'display: none;' }}">
                    <span id="average-rating">{{ release.get_rating_stats().mean }}</span>
                </span>
            </h1>
			<h2 class="byline">
            {% for artist in release.artists %}
                <span class="author"><a href={{ url_for("artist_page", slug=artist.slug) }}>{{ artist.name }}</a></span>
            {% endfor %}
                <time>{{ release.date[:4] }}</time>
            </h2>
		</header>
		
		<ol class="tracks">
        {% for track in release.tracks | sort(attribute="position") %}
			<li>{{ track.title }} <time>{{ track.runtime_string }}</time></li>
        {% endfor %}
		</ol>
	  
        {{ rating_widget(release, user.ratings[release._id] if user and release._id in user.ratings, None) }}
	</div>
    {% if release.thumb_art_url %}
        <a href="{{ release.full_art_url }}"><img class="album-cover" src="{{ release.thumb_art_url }}"/></a>
    {% endif %}
</section>

{% for artist in release.artists %}
<section>
	<header>
        <h3><em>More from</em></h3>
        <h1>{{ artist.name }}</h1>
    </header>
	
	<p>Kevin Shields and co. blended ethereal melodies with discordant sounds to become one of the prime influences on the late-'80s indie scene.</p>
    
	{{ release_list(artist.releases | selectattr("reltype", "equalto", "Album") | rejectattr("_id", "equalto", release._id)) }} 
</section>
{% endfor %}
{% endblock %}
