{% extends "layout.html" %}
{% from "release_list.html" import release_list, rating_widget %}

{% block title %}{{ release.title }} [{{release.date[:4]}}] - {{ release.get_artists()[0].name }} {{ super() }}{% endblock %}

{% set accent_color_1 = release.get_colors()[0] %}
{% set accent_color_2 = release.get_colors()[1] %}
{% set accent_color_3 = release.get_colors()[2] %}

{% block content %}
<section class="{% if release.thumb_art_url %} two columns {% endif %}">
	<div class="album-main">
		<header>
            <h1>
                {{ release.title }}
                {% set average_rating = release.get_rating_stats().average %}
                <span id="average-rating-section" style="{{ '' if average_rating else 'display: none;' }}">
                    <span id="average-rating">{{ average_rating }}</span>
                </span>
            </h1>
			<h2 class="byline">
            {% for artist in release.get_artists() %}
                <span class="author"><a href={{ url_for("artist_page", slug=artist.slug) }}>{{ artist.name }}</a></span>
            {% endfor %}
                <time>{{ release.date[:4] }}</time>
            </h2>
		</header>
		
		<ol class="tracks">
        {% for track in release.get_tracks() %}
			<li>
                {{ track.title }}
                {% if track.runtime %} <time>{{ track.runtime }}</time> {% endif %}
            </li>
        {% endfor %}
		</ol>
	  
        {{ rating_widget(release, user.ratings[release.id] if user and release.id in user.ratings, None) }}
	</div>
    {% if release.thumb_art_url %}
        <a class="album-cover" href="{{ release.full_art_url }}"><img src="{{ release.thumb_art_url }}"/></a>
    {% endif %}
</section>

{% for artist in release.get_artists() %}
<section>
	<header>
        <h3><em>More from</em></h3>
        <h1>{{ artist.name }}</h1>
    </header>
	
	{{ release_list(artist.releases | selectattr("release_type", "equalto", "Album") | rejectattr("id", "equalto", release.id)) }} 
    
	<p>{{ artist.get_description() | safe }}</p>
</section>
{% endfor %}
{% endblock %}
