{% extends "layout.html" %}
{% from "release_list.html" import release_list, release_grid %}

{% block title %}{{ that_user.name }} {{ super() }}{% endblock %}

{% set chart_js = True %}

{% block content %}

<section class="clearfix">
    <canvas class="chart" id="user-chart" width="400" height="200"></canvas>

    <header><h1>{{ that_user.name }}</h1></header>

    <p>
        Joined <time>{{ friendly_datetime(that_user.creation) }}</time><br/>
        {% set rated_no = that_user.get_ratings() | length %}
        Rated {{ n_things(rated_no, "release") }}
    </p>
</section>

{% set ratings = that_user.get_releases_rated() %}
{% set by_rating = group_by_rating(ratings) %}
{% set user_datasets = get_user_datasets(ratings) %}

<script>
var userDatasets = {{ json_dumps(user_datasets) | safe }};
</script>

<div class="grids-list">
{% for n in range(8, 0, -1) %}
    <!-- TODO show own ratings? confusing? -->
    <section><div>
        <header><h1>{{ n }}</h1></header>
        {{ release_grid(sort_by_artist(by_rating[n]), user, "small", artist_not_date=True) }}
    </div></section>
{% endfor %}
</div>

{% endblock %}
