{% extends "layout.html" %}
{% from "release_list.html" import release_list, release_grid %}

{% block title %}User '{{ that_user.name }}' {{ super() }}{% endblock %}

{% block content %}
<header><h1>User: {{ that_user.name }}</h1></header>

<p>
    Joined <time>{{ friendly_datetime(that_user.creation) }}</time><br/>
    {% set rated_no = that_user.ratings | length %}
    Rated {{ rated_no }} release{{ 's' if rated_no != 1 else '' }}
</p>

{% set rated = that_user.get_releases_rated() %}
{% for n in range(8, 0, -1) %}
    {% if rated[n] %}
        <h2>{{ n }}</h2>
        <!-- TODO show own ratings? confusing? -->
        {{ release_grid(rated[n], user, "small", artist_not_date=True) }}
    {% endif %}
{% endfor %}

{% endblock %}
